<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ravenmargret.academia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddOnGoingActivity"
            android:label="@string/title_activity_add_on_going"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".AddFinishedActivity"
            android:label="@string/title_activity_add_finished"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".GradeScaleActivity"
            android:label="@string/title_activity_grade_scale"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".OnGoingListActivity"
            android:label="@string/title_activity_on_going_list"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".FinishedListActivity"
            android:label="@string/title_activity_finished_list"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity android:name=".SignInActivity"></activity>
    </application>

</manifest>
